{
  "ConnectionStrings": {
    "DataChat": "Server=127.0.0.1,1433;Database=chat;User Id=sa;Password=YOUR_PASSWORD;TrustServerCertificate=True;Encrypt=False;"
  },
  "Gateway": {
    "EnableSwagger": true,
    "AllowedOrigins": [ "*" ]
  }
}
